<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta charset="UTF-8">
		<title>Chat</title>
		<script src='https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.js'></script>
		<link href='https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.css' rel='stylesheet' />	
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> 
		<link rel = "stylesheet" href = "style.css">
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

		<!-- jQuery library -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

		<!-- Popper JS -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

		<!-- Latest compiled JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

		<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">

	</head>
	<body id ="body">


		<nav id = "topBar" class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">

			<h1 id = "topUser">User</h1>
			<h4 id = "topRoom">room</h4>
		</nav>
		<div id = "messageArea">

		

		


		</div> 
		<nav id = "messageBar" class="navbar navbar-expand-sm bg-dark navbar-dark fixed-bottom">
			<div class = "container col-md-6">
				<form class = "container" style = "width: 100%; margin: 0px;">
					<input id = "messageContent" class = "form-control" type = "text">
					<button id = "sendMessage" class = "btn btn-info">Send</button>
				</form>
			</div>


		</nav>

	</body>

	<script id = "messageTemplate" type = "text/html">

		<div class = "container col-sm-6">
			<div class="message media border p-3">
				
				<div class="media-body">
				<h4>{{ username }}<small class = "timeStamp">  -  {{timeStamp}}</small></h4>
				<p>{{ msg }}</p>
				</div>
			</div>
		</div>
	</script>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/qs/6.9.4/qs.min.js" integrity="sha512-BHtomM5XDcUy7tDNcrcX1Eh0RogdWiMdXl3wJcKB3PFekXb3l5aDzymaTher61u6vEZySnoC/SAj2Y/p918Y3w==" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/3.0.1/mustache.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
	<script src = "/socket.io/socket.io.js"></script>
	<script src = "views/js/chat.js"></script>

</html>